// .canvasButtons {
//     border: 5px solid red;
// }

.buttonWrapper {
    text-align: center;
}

.gridButtons {
    border: 5px solid green;
    margin: 0 auto;
    display: inline-block;
}

.gridButtons button {
    padding: 10px 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    margin: 0 auto;
    margin-top: 10vh;
    border: 1px solid red;
    width: 500px;
    height: 500px;
}

.draw {
    background: green;
    border-radius: 50%;
}