body {
    background: repeat url(../assets/grassBackground.png);
    font-family: 'Press Start 2P', cursive;
    font-size: 125%;
}

body p {
    font-size: 1rem;
    
    @media (max-width: 600px) {
        font-size: 0.9rem;
    }

    @media (max-width: 380px) {
        font-size: 0.8rem;
    }
}

.hidden {
    display: none;
}

// ----------------------------------
// begin instructions styling   
.instructionsWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}

.gameInstructions {
    color: #feffe4;
    text-align: center;
    margin: 0 5%;
}

.gameInstructions h1 {
    text-transform: uppercase;
    margin: 50px 0;
    font-size: 2rem;

    @media (max-width: 625px) {
        font-size: 1.2rem;
    }

    @media (max-width: 430px) {
        margin: 25px auto;
    }
}

.gameInstructions h3 {
    text-transform: capitalize;
    margin-top: 60px;
    font-size: 1.5rem;

    @media (max-width: 625px) {
        font-size: 1rem;
        margin-top: 30px;
    }

    @media (max-width: 380px) {
        margin-top: 15px;
    }
}

.gameInstructions p:nth-child(1)::first-letter, .gameInstructions p:nth-child(2)::first-letter {
    text-transform: capitalize;
}

.gameInstructions ul {
    margin: 35px auto;
    width: 50%;

    @media (max-width: 1200px) {
        width: 75%;
    }

    @media (max-width: 800px) {
        width: 100%;
        margin: 20px auto;
    }
}

.gameInstructions li {
    text-align: left;
    line-height: 1.75;
}

.gameInstructions p {
    @media (max-width: 625px) {
        line-height: 1.5rem;
    }
}

.gameInstructions button {
    @media (max-width: 480px) {
        padding: 7.5px 15px;
        font-size: 0.8rem;
    }
}

.gameInstructions img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto;

    @media (max-width: 380px) {
        width: 30px;
        height: 30px;
        margin: 5px auto;
    }
}

// end instruction styling
// ---------------------------------------

// -----------------------------------
// begin movement queue styling
.movementQueue {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 75px;
}

.movementQueue h4 {
    text-transform: capitalize;
    display: inline-block;
    font-size: 1rem;
    margin: 0;

    @media (max-width: 520px) {
        margin: 5px 0;
        font-size: 0.8rem;
    }
}

.movementQueue p {
    display: inline-block;
    width: 25px;
    margin: 0;
    text-transform: uppercase;

    @media (max-width: 520px) {
        font-size: 0.75rem;
        width: 15px;
        margin: 5px 10px;
    }
}
// end movement queue styling
// ----------------------------------------

// ----------------------------------------
// begin button styling
.buttonWrapper {
    text-align: center;
}

.moveButtons, .runButtons {
    display: inline-block;
    border: 5px solid #a3de83;
}

.moveButtons button {
    width: 120px;
}

.moveButtons button:nth-of-type(1), .moveButtons button:nth-of-type(4) {
    @media (max-width: 520px) {
        display: block;
        margin: 0 auto;
    }
}

.runButtons {
    margin-top: 5px;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 1rem;
    background: #feffe4;
}

button:focus, button:hover {
    background: #87f14ea9;
}
// end button styling
// -----------------------------------------


// ---------------------------------
// begin grid styling
.arena {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 0 auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 500px;
    height: 500px;
    background: repeat url(../assets/dirtBackgroundAlt.png);
    box-shadow: 0 0 10px 10px green inset, 0 0 20px 20px #87f14ea9;
    border-radius: 5%;

    @media (max-width: 580px) {
        width: 300px;
        height: 300px;
    }
}

.draw {
    background: #fa4659;
    border-radius: 50%;
}

.item {
    position: relative;
}

.treeBranch {
    height: 250px;
    width: 25px;
    position: absolute;
}

.treeBranchRotate {
    transform-origin: right 15px;
    transform: rotate(-90deg);
}

.item22 {
    position: relative;
}
// end grid styling
// --------------------------------------------

// ----------------------------------------------------
// begin leaf and ladybudy styling
.leafImage {
    max-width: 100%;
}

.bugBody{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-width: 0;
    border-top: 20px solid #000;
    background: #cc0000;

    @media (max-width: 520px) {
        border-top: 10px solid #000;
    }
}

.bugBody:after {
    display: block;
    content: '';
    width: 2px;
    height: 100%;
    background-color: #990000;
    position: absolute;
    left: 50%;
}

.eyes {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
}

.eyes:after {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    position: absolute;
}

.eyes.left {
    top: -50%;
    left: 30%;

    @media (max-width: 520px) {
        top: -60%;
        left: 15%;
    }
}
.eyes.right {
    top: -50%;
    left: 50%;

    @media (max-width: 520px) {
        top: -60%;
        left: 60%;
    }
}

.spot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    position: absolute;
}

.spot1 {
    top:25%;
    left:33%;

    @media(max-width: 520px) {
        top: 10%;
    }
}

.spot2 {
    top:25%;
    left:60%;

    @media(max-width: 520px) {
        top: 10%;
    }
}

.spot3 {
    top:50%;
    left:26%;

    @media (max-width: 520px) {
        top: 40%;
    }
}

.spot4 {
    top:50%;
    left:67%;

    @media (max-width: 520px) {
        top: 40%;
    }
}

.spot5 {
    top:70%;
    left:38%;

    @media (max-width: 520px) {
        top: 67%;
        left: 31%;
    }
}

.spot6 {
    top: 70%;
    left: 56%;

    @media (max-width: 520px) {
        top: 67%;
        left: 58%;
    }
}
// end ladybug styling
// ----------------------------------------------------